{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% import _self as helper %}

{% block toolbar %}
    {% set searches = collector.searches %}

    {% set icon %}
        {{ include('@MeiliSearch/Collector/ms.svg') }}
        <span class="sf-toolbar-value">{{- 'MeiliSearch' -}}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>{{- 'Searches count' -}}</b>
            <span>{{- searches['count'] is same as(0) ? 'No searches made' : searches['count'] -}}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', {link: true}) }}
{% endblock %}

{% block menu %}
    <span class="label {{ collector.searches['count'] is same as(0) ? 'disabled' : '' }}">
        <span class="icon">
            {{ include('@MeiliSearch/Collector/ms.svg') }}
        </span>
        <strong>{{- 'MeiliSearch' -}}</strong>
    </span>
{% endblock %}

{% block panel %}
    {% set searches = collector.searches %}

    <h4>{{- 'Searches' -}}</h4>
    {% if searches['count'] is same as(0) %}
        <div class="empty">
            <p>{{- 'No searches made' -}}</p>
        </div>
    {% else %}
        <div class="sf-tabs">
            <div class="tab">
                <div class="tab-content">
                    <table class="{{ class|default('') }}">
                        <thead>
                        <tr>
                            <th scope="col" class="key">{{- 'Query' -}}</th>
                            <th scope="col" class="key">{{- 'Hits' -}}</th>
                            <th scope="col" class="key">{{- 'Processing time (ms)' -}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for search in searches['searches'] %}
                            {% set result = search.getResult() %}

                            <tr>
                                <th class="colored font-normal">{{- result.query -}}</th>
                                <th class="colored font-normal">{{- result.nbHits -}}</th>
                                <th class="colored font-normal">{{- result.processingTimeMs -}}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
