{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set indexes, queriesCount = collector.getIndexes(), collector.queriesCount() %}

    {% set icon %}
        {{ include('@MeiliSearch/Collector/logo.svg') }}
        <span class="sf-toolbar-value">{{- 'MeiliSearch' -}}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>{{- 'Indexes' -}}</b>
            <span>{{- indexes|length is not same as(0) ? indexes|length : 'No index found' -}}</span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b>{{ 'Queries count' }}</b>
            <span>{{- queriesCount is not same as(0) ? queriesCount : 'No query made' -}}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', {link: true}) }}
{% endblock %}

{% block menu %}
    <span class="label {{- collector.queriesCount() is not same as(0) ? '' : 'disabled' -}}">
        <span class="icon"><img src="{{ include('@MeiliSearch/Collector/logo.svg') }}" alt=""/></span>
        <strong>{{- 'MeiliSearch' -}}</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>{{- 'MeiliSearch' -}}</h2>
    {% if collector.getQueriesCount is same as(0) %}
        <div class="empty">
            <p>{{ 'No queries has been made' }}</p>
        </div>
    {% else %}
        <div class="sf-tabs">
            <div class="tab">
                {% set queries = collector.getQueries() %}
            </div>
        </div>
    {% endif %}
{% endblock %}
